/* Holding most of the css needed for the website */
body{
    display: flex;
    flex-direction: column;
    font-family: roboto,sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: #e2b709;
    padding: 0 20px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li {
    display: flex;
    margin: 0 10px;
    align-items: center;
    justify-self: center;
}

nav a {
    color: #561D5E ;
    text-decoration: none;
    align-self: center;
    justify-self: center;
}

.first-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgba(127, 33, 35, 0.769);
}

.text-holder{
    display: flex;
    flex-direction: column;
}
.f-large-text{
    font-size: xx-large;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: #e2b709;
    padding: 0 20px;
}
.footer-txt{
    width: 100vh;
}